{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>
    <div class="center-column">
        <h3 class="text-info">Todo-list:</h3>
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input class="btn btn-info" type="submit" name="Create Task">
        </form>

        <div class="todo-list">

            {% for task in tasks %}
            <div class="item-row container">
                <div class="row">
                    <div class="col">
                        <input class="form-check-input" id="check" type="checkbox" onclick="complete()">
                    </div>
                    <div class="col-6">
                        <span id="todo-item">{{task}}</span>
                    </div>
                    <div class="col">
                        <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<script>
    function complete() {
        var checkBox = document.getElementById("check");
        var task = document.getElementById("todo-item");
        if (checkBox.checked == true) {
            task.style.textDecoration = "line-through";
        } else {
            task.style.textDecoration = "none";
        }
    }
</script>

</html>